* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="mail"],
input[type="url"],
input[type="password"],
textarea,
button {
    appearance: none;
}

:root {
    --header-height: 45vh;
    --profile-picture-top-offset: 10vw;
    --profile-picture-width: 80%;
}

body {
    height: 100vh;
}

header {
    background-color: deepskyblue;
    margin-bottom: calc(var(--profile-picture-top-offset) + 2rem);
}

.header-profile-name {
    color: white;
    font-size: 48pt;
    font-weight: bold;
    padding: 0 0.2em;
}

.header-profile-picture-wrapper {
    margin: auto;
    width: var(--profile-picture-width);
    transform: translateY(var(--profile-picture-top-offset));
    background: url("./assets/pexels-anwer-ararawi-profile-crop-mobile.jpg") no-repeat;
    background-size: cover;
    height: var(--header-height);
    display: flex;
    align-items: flex-end;
}

.shadowed-image {
    box-shadow: 3pt 4pt 12pt black;
}

section#about-me {
    text-align: center;
}

section#about-me h2 {
    font-size: 38pt;
}

section#about-me p {
    padding: 0 1rem;
    text-align: left;
    line-height: 1.5em;
}

#socials-container {
    padding: 1.5rem 0;
    display: flex;
    gap: 2.5rem;
    list-style: none;
    justify-content: center;
}

.socials-button {
    display: inline-block;
    width: 2.5rem;
    cursor: pointer;
}
