/* Mobile: < 500 width */
/* Tablet (vertical): >= 500 width */
/* Desktop: >= 1080 width */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="mail"],
input[type="url"],
input[type="password"],
textarea,
button {
    appearance: none;
}

:root {
    --header-height: 45vh;
    --profile-picture-top-offset: 10vw;
    --profile-picture-width: 80%;
    --section-bottom-margin-common: calc(10px + 2rem);
}

header {
    background-color: deepskyblue;
    margin-bottom: calc(var(--profile-picture-top-offset) + 2rem);
}

.header-profile-name {
    color: white;
    font-size: 48pt;
    font-weight: bold;
    padding: 0 0.2em;
}

.header-profile-picture-wrapper {
    margin: auto;
    width: var(--profile-picture-width);
    transform: translateY(var(--profile-picture-top-offset));
    background: url("./assets/pexels-anwer-ararawi-profile-crop-mobile.jpg") no-repeat;
    background-size: cover;
    height: var(--header-height);
    display: flex;
    align-items: flex-end;
}

.shadowed-image {
    box-shadow: 3pt 4pt 12pt black;
}

section {
    padding: 0 2em;
    text-align: center;
    margin-bottom: var(--section-bottom-margin-common);
}

section h2 {
    font-size: 38pt;
}

section p {
    text-align: left;
    line-height: 1.5em;
}

section ul {
    list-style: none;
}

#about-me {
    padding: 2em 3em;
    text-align: center;
}

#contact-me-socials-container,
#socials-container {
    margin-top: 1.5rem;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}

.socials-button {
    display: inline-block;
    width: 2.5rem;
    cursor: pointer;
}

#work-container {
    padding: 2em 0;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
}

.project-card {
    box-shadow: 1pt 1pt 5pt gray;
}

.project-about-header-icon-link {
    width: 1.5rem;
}

.project-about-header-line {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin: 1rem 0;
}

.project-about-header-links-list {
    display: flex;
    gap: 0.7rem;
}

.project-screenshot {
    font-weight: 400;
    height: 60%;
    font-size: 24pt;
    text-align: left;
    padding: 2em;
    aspect-ratio: 1.25;
    display: flex;
    align-items: center;
}

.project-about-header-line,
.project-about-description {
    padding: 0 1.5em;
}

.project-about-description {
    padding-bottom: 5em;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: darkcyan;
}

#contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    color: white;
    margin-bottom: 0;
    gap: 1em;
}

#contact-me-picture {
    width: 100%;
}

@media (width >= 500px) {
    section {
        text-align: left;
    }
    section p {
        text-align: justify;
    }
    #about-me {
        box-shadow: 2pt 2pt 5pt gray;
        margin-left: 2em;
        margin-right: 2em;
    }
    #contact-me {
        width: 50%;
    }
    #socials-container {
        justify-content: flex-end;
    }
    #contact-me-socials-container {
        justify-content: flex-start;
    }
    #contact-me-picture {
        padding: 1rem;
        width: 50%;
        height: 100%;
    }
}
