/* Mobile: < 600 width */
/* Tablet (vertical): >= 600 width */
/* Desktop: >= 1000 width */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="mail"],
input[type="url"],
input[type="password"],
textarea,
button {
    appearance: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > * {
    max-width: 90em;
}

header {
    background: url("./assets/pexels-steve-header-bg.jpg") no-repeat;
    background-size: 130%;
}

:root {
    --header-height: 45vh;
    --profile-picture-top-offset: 10vw;
    --profile-picture-width: 80%;
    --section-bottom-margin-common: calc(10px + 2rem);
}

.header-profile-picture-wrapper {
    padding: 2em;
    max-width: 75%;
    position: relative;
    margin: auto;
    margin-bottom: 2rem;
}

.header-profile-name {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
}

.header-profile-picture {
    width: 100%;
}

.shadowed-image {
    box-shadow: 3pt 4pt 12pt black;
}

section {
    padding: 0 2em;
    text-align: center;
    margin-bottom: var(--section-bottom-margin-common);
}

section h2 {
    font-size: 38pt;
}

section p {
    text-align: left;
    line-height: 1.5em;
}

section ul {
    list-style: none;
}

#about-me {
    padding: 2em 3em;
    text-align: center;
}

#contact-me-socials-container,
#socials-container {
    margin-top: 1.5rem;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}

.socials-button {
    display: inline-block;
    width: 2.5rem;
    cursor: pointer;
}

#work-container {
    padding: 2em 0;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
}

.project-card {
    box-shadow: 1pt 1pt 5pt gray;
}

.project-about-header-icon-link {
    width: 1.5rem;
}

.project-about-header-line {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin: 1rem 0;
}

.project-about-header-links-list {
    display: flex;
    gap: 0.7rem;
}

.project-screenshot {
    font-weight: 400;
    height: 60%;
    font-size: 24pt;
    text-align: left;
    padding: 2em;
    aspect-ratio: 1.25;
    display: flex;
    align-items: center;
}

.project-about-header-line,
.project-about-description {
    padding: 0 1.5em;
}

.project-about-description {
    padding-bottom: 5em;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: darkcyan;
}

#contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    color: white;
    margin-bottom: 0;
    gap: 1em;
}

#contact-me-picture {
    width: 100%;
}

@media (width >= 600px) {
    header {
        padding: calc(4rem + 2%);
        background-size: cover;
    }
    .header-profile-picture-wrapper {
        float: left;
        max-width: 20%;
        margin: 2.5em;
        margin-bottom: 0;
        padding: 0;
        transform-origin: bottom right;
        transform: scale(1.5);
    }
    .header-profile-name {
        text-shadow: 1pt 1pt 5pt gray;
        text-wrap: nowrap;
        top: 0;
        font-size: 1.5rem;
        left: 70%
    }
    .shadowed-image {
        box-shadow: 2pt 2pt 15pt -3pt gray;
    }
    section {
        text-align: left;
    }
    section p {
        text-align: justify;
    }
    #about-me {
        background-color: white;
        box-shadow: 2pt 2pt 5pt gray;
    }
    #contact-me {
        width: 50%;
    }
    #socials-container {
        justify-content: flex-end;
    }
    #contact-me-socials-container {
        justify-content: flex-start;
    }
    .contact-me-picture-container {
        width: 50%;
    }
    #contact-me-picture {
        padding: 1rem;
        width: 100%;
        height: 100%;
    }
}

@media (width >= 1000px) {
    header {
        display: flex;
        height: min(70vh, 650px);
    }
    .header-profile-picture-wrapper {
        height: 100%;
        margin: 0;
        margin-left: 4rem;
        transform: none;
        max-width: unset;
        transform-origin: right;
        transform: scale(1.2);
    }
    .header-profile-name {
        left: unset;
        top: unset;
        bottom: 0;
    }
    .shadowed-image {
        box-shadow: none;
    }
    .header-profile-picture {
        max-width: unset;
        width: unset;
        height: 100%;
    }
    #about-me {
        margin: 0;
        margin-left: -0.5em;
        padding: 4em 5em;
        padding-left: 2em;
    }
    #my-work {
        padding: 0 10%;
        margin-top: 2em;
    }
    #work-container {
        grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    }
    #contact-me {
        width: 40%;
        padding: 2.5em;
    }
    #contact-me + picture {
        max-width: 60%;
        height: 70%;
    }
    #socials-container {
        justify-content: flex-end;
    }
    #contact-me-socials-container {
        justify-content: flex-start;
    }
    footer {
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    #contact-me-picture {
        width: 100%;
        padding: 2em;
        height: 100%;
        aspect-ratio: 1.5;
    }
}
